.messages
  %ul.massege
    %li.massege__name
      = message.user.name
    %li.massege__date
      = message.created_at.strftime("%Y-%m-%d %H:%M:%S")
  %h4
    = message.body
    = image_tag message.image
