.groupbox
  = link_to group_messages_path(group) do
    %ul.group
      %li.group__name
        %h4
          = group.group_name
      %li.group__message
        - if group.messages.presence
          %h6
            - if group.messages.last.image.presence
              画像を送信しました
            - else
              = group.messages.last.body
        - else
          %h6 まだメッセージはありません