#menubox
  %h3.name
    = current_user.name
  %ul.menu
    %li.menu__image
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o.fa-lg
    %li.menu__image
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog.fa-lg
#groupboxs
  = render groups

