$white-text: #FFF;
$sideber-blue: #2f3e51;
$sideber-menubox: #253141;
$groupbox-hover: #475C76;
$border-black: #eeeeee;
$edit-button: #4741E5;
$gray-text: #999999;
$black-text: #333333;
$gray-box: #AAAAAA;
$light-black-text: #434A54;
$send-button: #38AEF0;