$white-text: #FFF;
$sideber-blue: #2f3e51;
$sideber-menubox: #253141;
$groupbox-hover: #475C76;
$border-black: #eee;
$edit-button: #4741E5;
$gray-text: #999;
$black-text: #333;
$gray-box: #f5f5f5;
$bold-gray: #dcdcdc;
$light-black-text: #434A54;
$send-button: #38AEF0;
$red: #f00